
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.skill-image{
    height: 38px;
    width: 38px;
    margin-right: 5px;
}

.skills-title{
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-right: 20px;
}

.skills-logo-title-flex{
    display: flex;
    list-style: none;
    margin-right: 15px;
}

@media screen and (min-width:576px){
    .skill-image{
        height: 45px;
        width: 45px;
    }
    
    .skills-title{
        font-size: 23px;
        margin-right: 40px;
        margin-bottom: 40px;
    }
    
}